@import "compass";

@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$head_brown: #faf3ee;
$back_brown: #e9dbd1;
$brown: #55371e;
$black: #626262;
$white: #fff;
$yellow: #FFF7AA;

body {
    font-family: $ja_font;
    color: $black;
}
// body

.pc {
    display: none;
}
// .pc

.title {
    text-align: center;
    margin: 30px 0 10px 0;
}
// .title

header {
    background: $head_brown;
    
    #header_in {
        padding-top: 10px;
        padding-bottom: 4px;
        
        .row {
            .logo {
                width: 91px;
            }
            // .logo
            
            .navi {
                width: 40px;
                float: right;
                
                .sp_navi_li {
                    width: 180px;
                    position: absolute;
                    top: 50px;
                    right: 20px;
                    border: 1px solid #eee;
                    background: white;
                    margin: 0;
                    padding: 0;
                    display: none;
                    
                    li {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        
                        a {
                            display: block;
                            padding: 10px 8px;
                            border-bottom: 1px solid #eee;
                            text-decoration: none;
                            color: $brown;
                            @include fontsize(14);
                        }
                        // a
                    }
                    // li
                }
                // .sp_navi_li
            }
            // .navi
        }
        // .row
    }
    // #header_in
}
// header

#blog_area {
    padding-bottom: 30px;
    
    .eyecatch {
        width: 100%;
        margin-top: 20px;
        margin-bottom: -7px;
    }
    // .eyecatch
    
    .discription {
        // padding: 10px;
        background-color: $head_brown;
        
        h3 {
            margin: 0;
            padding: 10px;
            font-weight: bold;
            @include fontsize(14);
        }
        
        p {
            margin: 0;
            padding: 0 10px 10px 10px;
            letter-spacing: 0.05em;
            @include fontsize(12);
        }
    }
    // .discription
    
    .event {
        #event_info {
            width: 240px;
        }
    }
    // .event
    
    .staff {
        #staff_blog {
            width: 151px;
        }
    }
    // .staff
}
// #blog_area

#calendar_area {
    background-color: $back_brown;
    text-align: center;
    padding-bottom: 30px;
    
    .title {
        img {
            width: 128px;
        }
        // img
    }
    // .title
    
    p {
        margin: 0;
    }
    
    // Googleカレンダー用
    .cal_wrapper {
        width: 100%;
        max-width: 960px;
        //min-width: 300px;
        margin: 2.0833% auto;
    }
    // .cal_wrapper
    
    .googlecal {
        position: relative;
        padding-bottom: 100%;
        height: 0;
    }
    // .googlecal
    
    .googlecal iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
    // .googlecal iframe
        
    @media only screen and (min-width: 768px) {
        .googlecal { padding-bottom: 75%; }
    }
    // @media
    // Googleカレンダー用終了
}
// #calendar_area

#what {
    margin-bottom: 30px;
    .title {
        img {
            width: 114px;
            margin-bottom: 20px;
        }
        // img
        
        p {
            margin-bottom: 10px;
        }
        // p
    }
    // .title
    
    .row {
        margin: 20px 10px 10px 10px;
        .content {
            position: relative;
            h2 {
                margin: 20px 0 10px 0;
                padding: 10px;
                font-weight: bold;
                color: $brown;
                @include fontsize(24);
                background-color: $yellow;
                @include border-radius(10px, 10px);
            }
            // h2
            
            p {
                margin-bottom: 10px;
            }
            // p
            
            img {
                width: 100%;
            }
            // img
        }
        // .content
    }
    // .row
}
// #what

#usage_area {
    background-color: $back_brown;
    padding-bottom: 10px;
    
    .title {
        text-align: center;
        
        img {
            width: 98px;
            padding-bottom: 20px;
        }
        
        p {
            margin-bottom: 10px;
        }
    }
    
    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        @include fontsize(16);
        color: $brown;
        font-weight: bold;
    }
    
    p {
        margin-bottom: 10px;
    }
    
    table {
        margin-bottom: 20px;
        border: 1px solid $brown;
        @include fontsize(12);
        
        thead {
            th {
                @include fontsize(14);
                background-color: $brown;
                color: $white;
                padding: 0;
                text-align: center;
                border-bottom: 1px solid $brown;
            }
        }
        
        tbody {
            td {
                background-color: $white;
                color: $black;
                text-align: center;
                padding: 5px 0;
                border-bottom: 1px solid $brown;
            }
        }
    }
}

footer {
    text-align: center;

    #contact {
        background-color: $white;
        padding-top: 30px;
        padding-bottom: 30px;
        
        img {
            width: 120px;
            margin-bottom: 10px;
        }
        // img
        
        p {
            margin-bottom: 10px;
        }
        // p
        
        .btn-wrap {
            .btn {
                width: 200px;
                margin: 10px;
                padding: 15px;
                display: inline-block;
                border-radius: 5px;
                text-decoration: none;
                letter-spacing: 0.05em;
            }
            // .btn
            
            .btn-primary {
                background-color: $brown;
                color: $white;
            }
            // .btn-primary
        }
        // .btn-wrap
    }
    // #contact
    
    #copyright {
        background-color: $head_brown;
        p {
            margin: 0;
            padding: 15px;
            @include fontsize(12);
            color: #B5ACA4;
        }
    }
    // #copyright
}
// footer

// PCサイト
@media (min-width: 768px) {
    .sp {
        display: none;
    }
    // .sp
    
    .pc {
        display: block;
    }
    // .pc
    
    header {
        #header_in {
            .row {
                .logo {
                    width: 115px;
                }
                // .logo
                
                .navi {
                    float: left;
                    width: 100%;
                    
                    .eight {
                        position: relative;
                    }
                    
                    .pc_navi_li {
                        margin: 0;
                        margin-bottom: -6px;
                        padding: 0;
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        
                        li {
                            display: inline-block;
                            list-style: none;
                            border-left: 3px solid $brown;
                            
                            a {
                                color: $brown;
                                text-decoration: none;
                                font-weight: bold;
                                @include fontsize(14);
                                float: left;
                                padding: 0 20px;
                                
                                &:hover {
                                    border-bottom: 3px solid $brown;
                                }
                            }
                            
                            &:last-child {
                                border-right: 3px solid $brown;
                            }
                        }
                    }
                    // .pc_navi_li
                }
                // .navi
            }
            // .row
        }
        // #header_in
    }
    // header
    
    #blog_area {
        
        .columns {
            position: relative;
            
            .discription {
                display: none;
                position: absolute;
                width: 100%;
                z-index: 100;
            }
            // .discription
        }
    }
    // #blog_area
    
    #calendar_area {
        // Googleカレンダー用
        .cal_wrapper {
            width: 80%;
            //max-width: 960px;
            //min-width: 300px;
            margin: 2.0833% auto;
        }
        // .cal_wrapper
    }
    // calendar_area
    
    #what {
        .row {
            .content {
                min-hight: 224px;
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    display: block;
                    position: absolute;
                    top:0;
                    bottom:0;
                    right:0;
                    left:0;
                    margin:auto;
                }
                // img
                
                h2 {
                    margin-top: 0;
                }
            }
            // .content
        }
        // .row
    }
    // #what
    
    #usage_area {
        .row {
            margin-bottom: 10px;
        }
        
        h3 {
            margin-top: 0;
        }
    }
}
// @media (min-width: 768px)