@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
  color: #626262; }

.pc {
  display: none; }

.title {
  text-align: center;
  margin: 30px 0 10px 0; }

header {
  background: #faf3ee; }
  header #header_in {
    padding-top: 10px;
    padding-bottom: 4px; }
    header #header_in .row .logo {
      width: 91px; }
    header #header_in .row .navi {
      width: 40px;
      float: right; }
      header #header_in .row .navi .sp_navi_li {
        width: 180px;
        position: absolute;
        top: 50px;
        right: 20px;
        border: 1px solid #eee;
        background: white;
        margin: 0;
        padding: 0;
        display: none; }
        header #header_in .row .navi .sp_navi_li li {
          list-style: none;
          margin: 0;
          padding: 0; }
          header #header_in .row .navi .sp_navi_li li a {
            display: block;
            padding: 10px 8px;
            border-bottom: 1px solid #eee;
            text-decoration: none;
            color: #55371e;
            font-size: 14px;
            font-size: 1.4rem; }

#blog_area {
  padding-bottom: 30px; }
  #blog_area .eyecatch {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -7px; }
  #blog_area .discription {
    background-color: #faf3ee; }
    #blog_area .discription h3 {
      margin: 0;
      padding: 10px;
      font-weight: bold;
      font-size: 14px;
      font-size: 1.4rem; }
    #blog_area .discription p {
      margin: 0;
      padding: 0 10px 10px 10px;
      letter-spacing: 0.05em;
      font-size: 12px;
      font-size: 1.2rem; }
  #blog_area .event #event_info {
    width: 240px; }
  #blog_area .staff #staff_blog {
    width: 151px; }

#calendar_area {
  background-color: #e9dbd1;
  text-align: center;
  padding-bottom: 30px; }
  #calendar_area .title img {
    width: 128px; }
  #calendar_area p {
    margin: 0; }
  #calendar_area .cal_wrapper {
    width: 100%;
    max-width: 960px;
    margin: 2.0833% auto; }
  #calendar_area .googlecal {
    position: relative;
    padding-bottom: 100%;
    height: 0; }
  #calendar_area .googlecal iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
  @media only screen and (min-width: 768px) {
    #calendar_area .googlecal {
      padding-bottom: 75%; } }

#what .title img {
  width: 114px;
  margin-bottom: 20px; }
#what .title p {
  margin-bottom: 10px; }
#what .row {
  margin: 10px; }
  #what .row .content {
    position: relative; }
    #what .row .content h2 {
      margin: 20px 0 10px 0;
      font-weight: bold;
      color: #55371e;
      font-size: 24px;
      font-size: 2.4rem; }
    #what .row .content p {
      margin-bottom: 10px; }
    #what .row .content img {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto; }

footer {
  text-align: center; }
  footer #contact {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px; }
    footer #contact img {
      width: 120px;
      margin-bottom: 10px; }
    footer #contact p {
      margin-bottom: 10px; }
    footer #contact .btn-wrap .btn {
      width: 200px;
      margin: 10px;
      padding: 15px;
      display: inline-block;
      border-radius: 5px;
      text-decoration: none;
      letter-spacing: 0.05em; }
    footer #contact .btn-wrap .btn-primary {
      background-color: #55371e;
      color: #fff; }
  footer #copyright {
    background-color: #faf3ee; }
    footer #copyright p {
      margin: 0;
      padding: 15px;
      font-size: 12px;
      font-size: 1.2rem;
      color: #B5ACA4; }

@media (min-width: 768px) {
  .sp {
    display: none; }

  .pc {
    display: block; }

  header #header_in .row .logo {
    width: 115px; }
  header #header_in .row .navi {
    float: left;
    width: 100%; }
    header #header_in .row .navi .eight {
      position: relative; }
    header #header_in .row .navi .pc_navi_li {
      margin: 0;
      margin-bottom: -6px;
      padding: 0;
      position: absolute;
      right: 0;
      bottom: 0; }
      header #header_in .row .navi .pc_navi_li li {
        display: inline-block;
        list-style: none;
        border-left: 3px solid #55371e; }
        header #header_in .row .navi .pc_navi_li li a {
          color: #55371e;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px;
          font-size: 1.4rem;
          float: left;
          padding: 0 20px; }
          header #header_in .row .navi .pc_navi_li li a:hover {
            border-bottom: 3px solid #55371e; }
        header #header_in .row .navi .pc_navi_li li:last-child {
          border-right: 3px solid #55371e; }

  #blog_area .columns {
    position: relative; }
    #blog_area .columns .discription {
      display: none;
      position: absolute;
      width: 100%;
      z-index: 100; }

  #calendar_area .cal_wrapper {
    width: 80%;
    margin: 2.0833% auto; } }

/*# sourceMappingURL=style.css.map */
